button {
    background-color: red;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: darkgoldenrod;
    display: inline-block;
    font-size: 16px;
  }
body{
  background-image: url(https://i.ytimg.com/vi/vk0rg6Kt3PQ/maxresdefault.jpg);
  background-size: cover;
  font-size: 50px;
}
/* #itachi{
  background-image: url(https://i.ytimg.com/vi/vk0rg6Kt3PQ/maxresdefault.jpg);
  background-size: cover;
} */
